.card {
  background-color: #0e172a;
  max-width: 100%;
  border-radius: 8px;
  padding: 12px;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  margin-bottom: 10px;
}

.title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 8px;
}

.price {
  color: rgba($color: #fff, $alpha: 0.6);
  margin-bottom: 14px;
  display: inline-block;
}

.company {
  margin-bottom: 14px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.date {
  color: rgba($color: #fff, $alpha: 0.3);
}
