.wrapper {
  background-color: #0e172a;
  max-width: 260px;
  width: 100%;
  height: 100%;
  //   position: fixed;
  //   top: 0;
  //   left: 0;
  padding: 30px;
  overflow-y: auto;
}
.menu {
  display: flex;
  flex-direction: column;
  gap: 8px;

  a {
    position: relative;
    transition: color .2s ease-in-out;

    &:hover {
      color: #a152c8;
    }

    &::before {
      transition: all 0.3s ease-in-out;
      content: '';
      opacity: 0;
      background-color: #a152c8;
      position: absolute;
      height: 2px;
      width: 1%;
      left: 0;
      bottom: 0;
      right: 0;
    }
  }
}

.logo {
  display: flex;
  align-items: center;
  margin-bottom: 28px;
  padding-right: 50px;
  position: relative;
}
.logoImg {
  width: 64px;
  height: 64px;
  margin-right: 12px;
}
.logoText {
  font-size: 36px;
  color: #a152c8;
  user-select: none;
}
.exit {
  position: absolute;
  top: 0;
  right: 0;
  width: 22px;
  height: 22px;

  &:hover {
    .exitImg {
      path {
        fill: #a152c8;
      }
    }
  }
}
.exitImg {
  width: 100%;
  height: 100%;
  path {
    transition: fill 0.3s ease-in-out;
  }
}

// a{
//   // background-color: #a152c8;
//   // border-bottom: 2px solid #a152c8;

//   &:hover.menu {
//       &::before {
//         // width: 100%;
//         opacity: 0;
//       }
//   }
// }

.menu {
  .activeLink {
    color:#a152c8;
    
    &::before {
      opacity: 1;
      width: 100%;
    }
  }
}
