.wrapper {
  display: flex;
  gap: 30px;
  font-size: 22px;
  color: #fff;
  font-weight: 500;
  justify-content: space-between;
  border-bottom: 1px solid rgba($color: #fff, $alpha: 0.8);
  padding-top: 20px;
  padding-bottom: 12px;

  img {
    min-width: 48px;
    min-height: 48px;
    max-width: 32px;
    max-height: 32px;

    border-radius: 100%;
  }
  h4 {
    max-width: 300px;
    width: 100%;
    text-align: center;
    font-weight: inherit;
  }
  span {
    max-width: 300px;
    width: 100%;
    text-align: center;
    font-weight: inherit;
  }

  button {
    padding: 5px 20px;
    border-radius: 4px;
    background-color: transparent;
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: rgba($color: #fff, $alpha: 0.1);
    }
  }
}

.buttonsOption {
  max-width: 60px;
  width: 100%;
}
